
.topfixed {
  position: fixed;
  top: 0;
  left: 0;
}

.searchbar {
  position: absolute;
  top: 80px;
  width: 100%;
  height: calc(100svh - 80px);
  display: flex;
  justify-content: center;
  backdrop-filter: blur(4px);
}

.pagecontent {
  padding-top: 82px;
}
